 <!DOCTYPE html>
<html lang="ru">
  <head>
  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Книгофил</title>
	
    <!-- Bootstrap -->
    
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	{% load static %}
    <link href="{% static 'bootstrap.min.css' %}" rel='stylesheet' type='text/css'>
    <link  href="{% static 'styleh2.css' %}" rel="stylesheet" type='text/css'>
    {% load bootstrap4 %}
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <style>body{background-color: ivory}
    .stx{
         font-style: italic;
         font-weight: bold;
         font-size: 14px;
		 color: #990000;
         background-color: #FFFFF0;
        }
    .jumbotronN{
      font-style: normal;
	  margin-top: 5px;
      padding: 17px;
	  color: #990000;
      background-color: #FFFFF0;
	 }
    </style>
    
  </head>
<body>

<div class = "container">
  <div class="row">
     <div class="col-md-4">	      	 
     <p><span class="stx"> <br> <br>     
     <img src="{% static 'images/image55.jpg' %}"><br>Пути расселения<br><br><br>
     <img src="{% static 'images/image551.jpg' %}"><br>Картинка 19-го века
     
     </span></p>
</div>
<!--     <div class="col-md-8 " ><div class="div1"><h1 align="right">Несколько слов о Сафо</h1><br><h4>&nbsp;&nbsp;{{h2.content}}</h4></div></div>  -->
<div class="col-md-8 " ><div class="jumbotronN"><h1 align="center">Как люди заселяли землю</h1><br><h4>&nbsp;&nbsp;{{a2.content | safe}}</h4></div></div> 

  </div>
</div>

</html>